force-app/main/default/flows/Validate_ZIP_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get</name>
        <label>Get</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>Callout.GetData</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Update_ZIP_Code</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>zip</name>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Callout.GetData</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Post_Code</name>
        <label>Post Code</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ZIP_Validation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Validate ZIP Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate ZIP Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_ZIP_Code</name>
        <label>Update ZIP Code</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Get.2XX.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZIP_Validation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ZIP_Validation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Perform_Get_Action</name>
            <connector>
                <targetReference>Post_Code</targetReference>
            </connector>
            <label>Perform Get Action</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>10001</stringValue>
        </value>
    </variables>
</Flow>
